.auth-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
  }
  
  .brand-text {
    color: #5533cc;
    font-weight: bold;
  }
  
  .brand-icon {
    color: #6f42c1;
    font-size: 1.2rem;
    display: inline-block;
    margin-right: 3px;
    transform: rotate(180deg);
  }
  
  .btn-primary {
    background-color: #6f42c1;
    border-color: #6f42c1;
  }
  
  .btn-primary:hover {
    background-color: #5e35b1;
    border-color: #5e35b1;
  }
  